# Build e compilação
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs (IntelliJ, Eclipse, VSCode)
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/

# Logs e arquivos do sistema
*.log
.DS_Store
Thumbs.db